<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div id="successMessage" *ngIf="signUpSuccess" class="ui-messages ui-widget ui-corner-all ui-messages-success"
        style="margin: 0 0 1em 0; display: block">
        <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
        <ul>
          <li>
            <span class="ui-messages-summary" style="font-size:16px">Sign up success!</span>
          </li>
        </ul>
      </div>
      <form class="card no-margin" #f="ngForm" [formGroup]="signUpData">
        <h1>Sign Up Form</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-2">
            <label for="input">Name</label>
          </div>
          <div class="ui-g-12 ui-md-4">
            <input name="name" id="input" type="text" pInputText required formControlName="Name" />
            <div *ngIf="signUpData.get('Name').invalid && signUpData.get('Name').errors['name_exist']">Name 已存在</div>
          </div>
          <div class="ui-g-12 ui-md-2">
            <label for="dropdown">Sex</label>
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-4">
                <p-radioButton name="sex" value="M" label="Male" formControlName="Sex"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-4">
                <p-radioButton name="sex" value="F" label="Female" formControlName="Sex"></p-radioButton>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-2">
            <label for="dropdown">Interest</label>
          </div>
          <div class="ui-g-12 ui-md-4">
            <p-dropdown name="interest" id="dropdown" [options]="interests" [autoWidth]="false" formControlName="Interest"></p-dropdown>
          </div>
        </div>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Submit" (click)="signUp()" [disabled]="signUpData.invalid"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
